@import 'breakpoints';

.progress {
	$parent: &;

	width: 100%;

	&__path {
		stroke: currentColor;
		stroke-linecap: round;
		transition: stroke-dashoffset 0.5s ease 0s;
	}

	&__trail {
		stroke: transparent;
	}

	&__text {
		font-family: inherit;
		fill: currentColor;
		dominant-baseline: middle;
		text-anchor: middle;
	}

	&__background {
		fill: transparent;
	}

	&--inverted #{$parent}__background {
		fill: #3e98c7;
	}

	&--inverted #{$parent}__text {
		fill: #fff;
	}

	&--inverted #{$parent}__path {
		stroke: #fff;
	}

	&--inverted #{$parent}__trail {
		stroke: transparent;
	}
}
